[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Thassilo Schulze
    email = thassilo@thasso.xyz

[includeIf "gitdir:**/Work/**"]
	path = .gitconfig-unikraft